#header #banner-area {
	background-image: url(../style/image/darkblue/usgs_banner.jpg);
	background-position-x: -150px;
	background-color: #000;
}

//Set the font for the entire app to the USGS standard
body div.container * { font-family: Verdana, Arial, Helvetica, sans-serif !important; }

#site-title { background-color: #022553; }
#site-title img { height: 3em; margin-right: 1em; }
#site-title h1 { font-size: 1.2em; padding: 0; margin: .3em 0 .1em .5em; }
#site-title h4 { font-size: .9em; font-style: italic; padding: 0; margin: 0 1em; }

.gap {margin-top: 1em;}
.gap-lg {margin-top: 2em;}

ul#ccsa-area {
	list-style: none; padding: .3em 0 0 0; margin: 0;
}

.sub-title h4 { clear: none;}

.sub-title img {width: 200px; height: 66px; }

#title-header { padding-top: .2em; padding-bottom: .2em; }

#sb-query-form .form-group {
	margin-bottom: .7em;
}
#sb-query-form .form-group label.col-xs-4 { padding: 0 .2em 0 .2em; }
#sb-query-form .form-group .col-xs-8 { padding-left: .2em; }


#sb-query-form .well { padding: .6em; }
.well { margin-bottom: .8em; }

#sb-query-form .map-contols { padding: .6em; text-align: center; }

#sb-query-form-footer-controls { margin-top: .5em; }

#sb-query-submit { padding-left: 3em; padding-right: 3em; }

#records-blocked-by-filter {
	margin: 10% auto;
	width: 70%;
}

#records-blocked-by-filter.no-records {
	display: block;
}
th a {
  color: #000 !important;
}
th a:hover {
  color: #000 !important;
}

.hidden { display: none; }

.glri_content {
     padding: 0; margin-top: .6em;
}

.record-load-progress { width: 100%; position: fixed; left: 50%; top: 1.5em; font-size: 20em; }
.record-load-progress .glyphicon { margin-left: -.5em; padding-bottom: .002em; color: rgba(3,37,83,.5)}

@media (min-width: 768px) {
	.record-load-progress { left: 65%; top: .5em; font-size: 30em; }
}

.result-header, .result-footer {
	padding-top: .2em !important; padding-bottom: .2em !important;
}

.result-header .btn-group button, .result-footer .btn-group button{
	padding: .2em;
}

.page-nav { font-weight: bold; }
.page-nav a { text-decoration: none !important; }
.page-nav .previous.has-previous {}
.page-nav .previous.has-no-previous { color: #ccc; }
.page-nav .next.has-next {}
.page-nav .next.has-no-next { color: #ccc; }
.selectable-list .item {
	padding: .1em; text-align: center; border: .2em solid transparent; border-radius: .3em; text-decoration: none !important;
}

.selectable-list .current {
	border-color: #333;
}

.selectable-list .non-current:hover {
	border-color: #aaa;
}

.boundingBoxButton {
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #aaa;
}

.filter_label {
        margin-top: 8px;
        font-size: 12px;
}

.boundingMap {
        width: 100%;
	    height: 200px;
	    border: 1px solid #ccc;
}

.boundsGroup {
        /*              top     | right | bottom  | left */
        padding:        6px        14px     0px     0px !important;

}

.boundsValue {
        font-size: 10px !important;
        padding: 0px 3px 0px 5px !important;
        text-align: left;
}

.adjustDropDown {
        margin-top: 10px;
}

ul.result-records {
	list-style: none; margin: 0; padding: 0;
}

ul.result-records li {
	display: block; margin: 0 0 1em 0; padding: .4em; background-color: #fff;
	
	/* Drop shadow */
	-moz-box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666');
}

ul.result-records .resource-icon {
	display: block; float: left; margin: -.2em .3em .3em -.2em;
}
ul.result-records .resource-icon img { width: 50px; height: 50px; margin: 0; }

ul.result-records .related-links {
	display: block; float: right; width: 16em; padding: .2em; margin: 1em 0 .5em 1em;
	
	/* Drop shadow */
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.result-records .point-of-contact { font-style: italic; }

.child-records {
	padding-right: .3em; margin-left: 1em;
	background-color: #C7D1DC;
	border: #C7D1DC solid .2em;
	border-left: #C7D1DC solid 1em;

	
	/* Drop shadow */
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.child-records .list-head { background-color: #C7D1DC; }
.child-records .list-head h4 { margin-top: 0; }
.child-records ul { margin-left: 0; padding-left: 0;}

.result-records .child-records .resource-icon img { width: 30px; height: 30px; }

#resource_input img {width: 1.8em; height: 1.8em; margin-top: -3px; /* Makes up for button padding */ }

/* Modify basic spacing */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: .4em; padding-left: .4em;
}

.row { margin-right: -.4em; margin-left: -.4em; }

.form-horizontal .form-group { margin: .5em -.4em .5em -.4em; }
option.any-option { font-weight: bold; }

.tooltip.right .tooltip-inner { width: 12em; }

.glyphicon { color: #022553; }
.glyphicon-repeat {
	
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); } }
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }

/* Change the primary buttons to our color scheme */
.glri_content .btn-primary {
  background-color: #022553;
  border-color: #357ebd;
}
.glri_content .btn-primary:hover,
.glri_content .btn-primary:focus,
.glri_content .open .dropdown-toggle.btn-primary {
  background-color: #304D70;
  border-color: #285e8e;
}

.glri_content .btn-primary:active,
.glri_content .btn-primary.active {
  background-color: #4E6687;
  border-color: #285e8e;
}

.glri_content .btn-primary.disabled,
.glri_content .btn-primary[disabled],
.glri_content fieldset[disabled] .btn-primary,
.glri_content .btn-primary.disabled:hover,
.glri_content .btn-primary[disabled]:hover,
.glri_content fieldset[disabled] .btn-primary:hover,
.glri_content .btn-primary.disabled:focus,
.glri_content .btn-primary[disabled]:focus,
.glri_content fieldset[disabled] .btn-primary:focus,
.glri_content .btn-primary.disabled:active,
.glri_content .btn-primary[disabled]:active,
.glri_content fieldset[disabled] .btn-primary:active,
.glri_content .btn-primary.disabled.active,
.glri_content .btn-primary[disabled].active,
.glri_content fieldset[disabled] .btn-primary.active {
  background-color: #677C98;
  border-color: #357ebd;
}

/**
 * Openlayers map styling
 */

/* tiles that fail to load should be transparent, not pink w/ a broken icon */
img.olImageLoadError { background-color: transparent !important; visibility: hidden !important;}