.description-of-work {
	margin-left:15px !important;
}
.description-of-work h4 {
	margin-left:-15px !important;
}
.description-of-work img {
	margin-left:15px !important;
}
.description-of-work ul {
	margin-left:15px !important;
	list-style:disc !important;
}

.powered-img {
	width:100%;
	max-width: 175px;
}

.center {
	margin:0 auto;
}
.slider-controls {
	width:650px;
}

.noImgPadding {
	width: 1.8em;
	height: 1.8em;
	float: left;
}

img.twigs {
	margin-top : -21px;
	margin-left:  21px;
	width: 610px;
}
div.twigs {
	margin-top: -20px;
	width:650px;
	text-align:center;
}
.twigs div {
	width: 21%;
	display: inline-block;
	font-weight: bold;
	font-size: 9px !important;
}
.twigs div:nth-child(odd) {
    color: #4C81C2;	
}
.twigs div:nth-child(even) {
    color: #016699;	
}
.twigs div.short {
	position: relative;
	top: -8px;
}
.twigs div.small {
	width: 10%;
}
.twigs div.medium {
	width: 15%;
	top: 1px;
	margin-left: 9px;
}
.twigs div.large {
	width: 29%;
}


#sb-query-form .btn-primary {
	width:auto;
	padding:4px;
}

.template-list {
	font-size: .8em !important;
}

#contentBrowseDetail {
	padding:5px;
}

#contentBrowseDetail h4 {
	font-weight:bold;
	color:#039;
	margin-bottom: 10px;
	margin-top: 5px;
	font-size: 1.3em;
}

.detailTitle {
	color: #036;
	background-color: #FFF;
	text-align: center;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 1.6em !important;
}



#innerCol {
	margin-top: 10px;
}

img.icon {
	width: 40px;
	float: right;
	margin-top: 13px;
	margin-right: 5px;	
	margin-left: 5px;	
}

body p.serif span {
	font-weight: bold !important;
	position: relative;
	font-size: inherit;
	top:  7px;
	left: 7px;
	color: #036;
}
body p.serif span.overlay {
	font-weight: bold !important;
	font-size: 11px !important;
	position: relative;
	top:  -50px;
	left: 20px;
	color: #036;
}
.overlayAdjust {
	margin-top: -25px;
}
.sectionIndent {
	margin-left: 10px;
}



body {
	background-color: white;
}
#header #banner-area {
	background-image: url(../style/image/darkblue/dark_banner.png);
	background-position-x: 0px;
	background-color: #000;
}
.well { 
	background-color: white !important; }
	margin-bottom: .8em; 
	min-height:105px !important;
}
#ccsa-area > li > a  {
	line-height: 1.47 !important;
}
ul#ccsa-area {
	line-height: 1.47 !important;
}

/* Set the font for the entire app to the USGS standard */
body div.container * { font-family: Verdana, Arial, Helvetica, sans-serif, 'Glyphicons Halflings' !important;font-size:12px; }

#site-title { background-color: #036; }
#site-title img { height: 3em; margin-right: 1em; }
#site-title h1 { font-size: 1.2em; padding: 0; margin: .3em 0 .1em .5em; }
#site-title h4 { font-size: .9em; font-style: italic; padding: 0; margin: 0 1em; }

.gap {margin-top: 1em;}
.gap-lg {margin-top: 2em;}

ul#ccsa-area {
	list-style: none; padding: .3em 0 0 0; margin: 0;
}

.sub-title h4 { clear: none;}

.sub-title img {width: 200px; height: 66px; }

#title-header { padding-top: .2em; padding-bottom: .2em; }

#sb-query-form .form-group {
	margin-bottom: .7em;
}
#sb-query-form .form-group label.col-xs-4 { padding: 0 .2em 0 .2em; }
#sb-query-form .form-group .col-xs-8 { padding-left: .2em; }


#sb-query-form .well { padding: .6em; }

#sb-query-form .map-contols { padding: .6em; text-align: center; }

#sb-query-form-footer-controls { margin-top: .5em; }

#sb-query-submit { padding-left: 3em; padding-right: 3em; }

.no-records { margin: 10% auto; width: 70%; display: block; }

.no-records .badge { background-color: #333; }

th a {
  color: #000 !important;
}
th a:hover {
  color: #000 !important;
}

.hidden { display: none; }

.glri_content {
     padding: 0; margin-top: .6em;
}

.record-load-progress { width: 100%; position: fixed; left: 50%; top: 1.5em; font-size: 20em; }
.record-load-progress .glyphicon { margin-left: -.5em; padding-bottom: .002em; color: rgba(3,37,83,.5)}


.result-header, .result-footer {
	padding-top: .2em !important; padding-bottom: .2em !important;
}

.result-header .btn-group button, .result-footer .btn-group button{
	padding: .2em;
}


.page-nav { font-weight: bold; }
.page-nav a { text-decoration: none !important;  color: #567 !important;}
.page-nav .previous.has-previous {}
.page-nav .previous.has-no-previous { color: #ccc !important; }
.page-nav .next.has-next {}
.page-nav .next.has-no-next { color: #ccc !important; }
.selectable-list .item {
	padding: .1em; text-align: center; border: .2em solid transparent; border-radius: .3em; text-decoration: none !important;
}

.selectable-list .current {
	border-color: #333;
}

.selectable-list .non-current:hover {
	border-color: #aaa;
}

.boundingBoxButton {
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #aaa;
}

.filter_label {
        margin-top: 8px;
        font-size: 12px;
}

.boundingMap {
        width: 100%;
	    height: 200px;
	    border: 1px solid #ccc;
}

.boundsGroup {
        /*              top     | right | bottom  | left */
        padding:        6px        14px     0px     0px !important;

}

.boundsValue {
        font-size: 10px !important;
        padding: 0px 3px 0px 5px !important;
        text-align: left;
}

.adjustDropDown {
        margin-top: 10px;
}

ul.browse-results {
	list-style: none; margin: 0; padding: 0;	
}
ul.browse-results li {
	display: block; margin: 0 0 1em 0; padding: .4em; background-color: #eee;
}
ul.browse-results li:hover {
	background-color: whitesmoke;
	cursor: pointer;
}
ul.browse-results h3 {
	color: #459;
	margin-left: 15px;
	margin-top: 5px;
}
ul.browse-results p {
	color: black;
}
h1.focusAreaTitle {
	color: black;
	font-size: 20px !important;
	font-weight: bold;
	margin: 5px;
	margin-top: 13px;
}
p.focusAreaTitle {
	color: black;
	font-size: 14px !important;
	margin: 5px;	
}
a.focusPdf {
	margin: 5px;
}
.circleList {
	list-style-type:circle;
	margin-left:30px;
}



ul.result-records {
	list-style: none; margin: 0; padding: 0;
}

ul.result-records li {
	display: block; margin: 0 0 1em 0; padding: .4em; background-color: #fff;
	
	/* Drop shadow */
	-moz-box-shadow: 2px 2px 5px #666;
	-webkit-box-shadow: 2px 2px 5px #666;
	box-shadow: 2px 2px 5px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color='#666666');
}

.resource-icon {
	display: block; float: left; margin: -.2em .3em .3em -.2em;
}
.resource-icon img { width: 50px; height: 50px; margin: 0; }

.browse-image { width: 500px; float: right; margin-left: 1em; margin-bottom: 1em; }

ul.result-records .related-links {
	display: block; float: right; width: 16em; padding: .2em; margin: 1em 0 .5em 1em;
	
	/* Drop shadow */
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}
.related-links a {
	color:#567 !important;
}
.page-nav-settings a {
	color:#567 !important;
}

.result-records .point-of-contact { font-style: italic; }

.child-records {
	padding-right: .3em; margin-left: 1em;
	background-color: #C7D1DC;
	border: #C7D1DC solid .2em;
	border-left: #C7D1DC solid 1em;

	
	/* Drop shadow */
	-moz-box-shadow: 1px 1px 4px #666;
	-webkit-box-shadow: 1px 1px 4px #666;
	box-shadow: 1px 1px 4px #666;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#666666');
}

.child-records .list-head { background-color: #C7D1DC; }
.child-records .list-head h4 { margin-top: 0; }
.child-records ul { margin-left: 0; padding-left: 0;}

.result-records .child-records .resource-icon img { width: 30px; height: 30px; }

#resource_input img {width: 1.8em; height: 1.8em; margin-top: -3px; /* Makes up for button padding */ }

/* Modify basic spacing */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-right: .4em; padding-left: .4em;
}

.row { margin-right: -.4em; margin-left: -.4em; }

.form-horizontal .form-group { margin: .5em -.4em .5em -.4em; }
option.any-option { font-weight: bold; }

.tooltip.right .tooltip-inner { width: 12em; }

.glyphicon { color: #022553; }
.glyphicon-repeat {
	
    -webkit-animation-name: spin;
    -webkit-animation-duration: 3000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 3000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 3000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    animation-name: spin;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

ul.list-tick {
	margin-left: 40px !important;
}

.content2col {
	margin: 25px 0px 5px 0px;
}

.glri_content a {
	color:#38E;
}
.glri_content a:visited {
	color:069;
}

.strong2 {
	font-size:18px !important; 
	font-weight:bold; 
	color:#039;
}


.largetitle {
	font-size:22px !important;
	font-weight:bold; 
	color:#000000;
	line-height:90%;
	height: 90px;
	padding-top: 40px;
	margin-left: 300px;
}

.navHomeEntry {
	height: 140px;
}

.navHomeEntry a {
	float: right;
}
.navHomeEntry a::before {
	content:"> ";
}

.navHomeEntry img {
	border:solid #EFEFEF 1px;
	padding:4px;
	float:left;
	margin-right:4px;	
}

.navHomeEntry .descr {
	font-size:10px;
}



@-ms-keyframes spin { from { -ms-transform: rotate(0deg); } to { -ms-transform: rotate(360deg); } }
@-moz-keyframes spin { from { -moz-transform: rotate(0deg); } to { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); } to { -webkit-transform: rotate(360deg); } }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }

.col-left {
	margin-bottom: 10px;
}
.col-right {
	padding-left: 5px;
}

.border {
	padding: 4px 4px 15px 2px;
	border:  1px solid #ddd;
	border-radius: 5px;
	width:   100%;
	margin-bottom: 5px;
}


#nav {
	height: 100% !important;
	min-height: 772px;
	padding-bottom: 25px;
}

#nav #navBrowse.btn-group {
	width: 100% !important;
	margin-bottom: 5px !important;
	margin-left: 3px !important;
}

/* Change the primary buttons to our color scheme */
.glri_content .btn-horizontal {
	display: inline-block !important;
	width: 33% !important;
	line-height: 1.4;
	min-width:45px;
}
.glri_content .btn-vertical {
	min-width:145px;
}

@media (min-width: 768px) {
	.record-load-progress { 
		left: 65%; 
		top: .5em; 
		font-size: 30em; 
	}
}
@media (max-width: 767px) {
	.glri_content .btn-vertical {
		font-size: 12px;
	}
	.glri_content .btn-horizontal {
		font-size: 7px;
	}
	.font-large {
		font-size: 150% !important;	
	}
	.navHomeEntry .descr {
		width:100%;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.glri_content .btn-vertical {
		font-size: 14px;
	}
	.glri_content .btn-horizontal {
		font-size: 10px;
	}
	.font-large {
		font-size: 175% !important;	
	}
	.navHomeEntry img {
		width:100%;
		margin-top: 100px;
	}
	.navGroup {
		position: relative;
		top: -100px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.glri_content .btn-vertical {
		font-size: 16px;
	}
	.font-large {
		font-size: 250% !important;
	}
	.navHomeEntry .descr {
		float: right;
		width: 113px;
	}
}
@media (min-width: 1200px) {
	.glri_content .btn-vertical {
		font-size: 18px;
	}
	.font-large {
		font-size: 250% !important;	
	}
	.content2col .border {
		height:700px;
	}
}

.menu-navPane {
	display:block ! improtant;
	width: 300px;
	float:right;
}

.menu-navPane .btn {
	height:40px;
	font-size:150%;
}

.glyphicon-menu {
	float: right;
	position: relative;
	top: -23px;
	width: 30px;
	padding-right: 3px;
	cursor:pointer;
}

.glri_content .btn-primary {
	background-color: white;
	border-color: #036;
	color: #036;
	margin-bottom: 1px !important;
	display: block;
	width: 100%;
	font-weight:bold;
	padding:2px 0;
}


.glri_content .btn-primary:active,
.glri_content .btn-primary.active {
  background-color: #036;
  color: white;
  border-color: #38E;
}

.glri_content .btn-primary.disabled,
.glri_content .btn-primary[disabled],
.glri_content fieldset[disabled] .btn-primary,
.glri_content .btn-primary.disabled:hover,
.glri_content .btn-primary[disabled]:hover,
.glri_content fieldset[disabled] .btn-primary:hover,
.glri_content .btn-primary.disabled:focus,
.glri_content .btn-primary[disabled]:focus,
.glri_content fieldset[disabled] .btn-primary:focus,
.glri_content .btn-primary.disabled:active,
.glri_content .btn-primary[disabled]:active,
.glri_content fieldset[disabled] .btn-primary:active,
.glri_content .btn-primary.disabled.active,
.glri_content .btn-primary[disabled].active,
.glri_content fieldset[disabled] .btn-primary.active {
  background-color: #677C98;
  border-color: #357ebd;
}

/**
 * Openlayers map styling
 */

/* tiles that fail to load should be transparent, not pink w/ a broken icon */
img.olImageLoadError { background-color: transparent !important; visibility: hidden !important;}



.popupImage{
position: relative;
z-index: 0;
}

.popupImage:hover{
background-color: transparent;
z-index: 50;
}

.popupImage span{ /*CSS for enlarged image*/
position: absolute;
background-color: #FFFFFF;
padding: 5px;
left: -1000px;
border: 1px dashed gray;
visibility: hidden;
color: black;
text-decoration: none;
}

.popupImage span img{ /*CSS for enlarged image*/
border-width: 0;
padding: 2px;
}

.popupImage:hover span{ /*CSS for enlarged image on hover*/
visibility: visible;
top: 0;
left: 60px; /*position where enlarged image should offset horizontally */

}

.noteworthy {
	width :20px;
	margin-left:10px;
}
