h4 {
	clear:both;
}

.form-spacing {
	margin-bottom: 20px;
}

.form-spacing .btn-primary {
    width: auto;
    padding: 4px;
    min-width:80px;
}
.form-spacing .btn-primary:hover {
	background: #036;
	border-color: #036;
	color: #FFF;    
	text-decoration: none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(0, 75, 150, 0.6) !important;
}		

.form-title {
	color: #036 !important;
	font-weight: bold;
	font-size: 1.6em !important;
	height:auto;
}

.form-field {
	font-family: Verdana,Arial,Helvetica,sans-serif,"Glyphicons Halflings" !important;
	font-size: 12px;
}

.form-date {
    font-weight: bold;
    color: darkblue;
    font-size: inherit;
    min-width: 100px;
 }

.imageContent {
	float:left;
	margin-top:50px;
	display:none;
}

#imageTarget {
	margin-left:17px;
	border:1px solid;
	min-width:100px;
	min-height:100px;
	padding:1px;
}

.ui-select-search,
.ui-select-match-item span,
.ui-select-choices-row a span
{
	font-size: 15px;
	font-weight: bold;
	color: #036;
}

.ui-select-choices-group .active a span {
	color: white;
}
.ui-select-choices-group .active a {
	background-color: #036 !important;
}
.ui-select-match-close {
	float:left;
	margin: 5px 5px 5px -5px;
}

div.error {
	height:16px;
	color:darkred;
}
.hidden {
	visibility:hidden;
}
.show {
	visibility:visible !important;
}

.login {
    width: 450px;
    background-color: white;
    border: 3px solid #036;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    left: 200;
    top: 100px;
}
.loginBlock {
    height: 3000px;
    width: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0px;
    z-index: 999;
    margin-top: -13px;
 }





/*
These were devised for native select2
*/

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #036;
    border: 1px solid #036;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0px 5px;
    font-weight: bold;
    color: #fff;
    height:20px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
    color: #FFF;
}

.form-control:focus,
.select2-container--open .selection .select2-selection,
.select2-container--focus .selection .select2-selection {
    border-color: #66AFE9 !important;
    outline: 0px none !important;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6) !important;
}

.select2-dropdown {
    background-color: #FFF;
    border: 1px solid #66AFE9;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6) !important;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

