<div  id="contentAsianCarp" >


<div style="height:auto;width:780px;padding:10px;">
<div style="padding-top:10px;margin-top:2px;">
</div>
<div>
	<img src="style/image/darkblue/glri_logo.svg" style="margin-left: 10px; margin-right: 10px; padding-bottom:10px;width:200px; height:80px;float:left">
	<div class="largetitle">Asian Carp Science</div>
</div>

<div style="border-bottom:solid #ECECEC 1px;" class="onbottom"></div>

<br>

<br><br>


<div class="strong2" style="text-decoration:underline;">Asian Carp Control Technologies</div><br>

<p><a href="#/Browse/fais/538f8481e4b0d497d4968663" onclick="clickNav()">Ensuring environmentally responsible application of piscicides (fish poisons) in rivers by using real-time dye tracking</a>
</p>

<p><a href="#/Browse/fais/538f8bc4e4b0d497d496867a" onclick="clickNav()">Field Evaluation of chemical attractants to control Asian carp and development of protocols for field verification of response</a>
</p>

<p><a href="#/Browse/fais/538f8c7ce4b0d497d496867c" onclick="clickNav()">Evaluation of an Integrated Pest Management approach to bighead and silver carp control</a>
</p>

<p><a href="#/Browse/fais/538f8dede4b0d497d4968686" onclick="clickNav()">Assessing life history traits of Asian carp in established and emerging populations to identify and characterize vulnerabilities that can be exploited for control</a>
</p>

<p><a href="#/Browse/fais/538f8ef9e4b0d497d4968693" onclick="clickNav()">Using seismic water guns for Asian Carp control efforts</a>
</p>

<p><a href="#/Browse/fais/53907229e4b04eea98bf854e" onclick="clickNav()">Asian Carp toxicant screening program</a>
</p>

<p><a href="#/Browse/fais/53907385e4b04eea98bf8550" onclick="clickNav()">Chicago Area Waterways System Monitoring Network Evaluation</a>
</p>

<p><a href="#/Browse/fais/5390752ee4b04eea98bf8553" onclick="clickNav()">Communication and Demonstration for new technologies for the Control and Monitoring of Asian carp</a>
</p>

<p><a href="#/Browse/fais/5425978de4b0e641df8bf02c" onclick="clickNav()">Targeted Delivery of Control Agents to Bigheaded Carps</a>
</p>


<div style="border-bottom:solid #ECECEC 1px;"></div><br>

<div class="strong2" style="text-decoration:underline;">Asian Carp Risk Assessment and Detection</div><br>

<p><a href="#/Browse/fais/5390761fe4b04eea98bf855a" onclick="clickNav()">Developmental rate of embryos and larvae of bighead and silver carps</a>
</p>

<p><a href="#/Browse/fais/53908320e4b04eea98bf8579" onclick="clickNav()">Water hardness effects on hatching success of Asian carp eggs</a>
</p>

<p><a href="#/Browse/fais/53908e7fe4b04eea98bf857c" onclick="clickNav()">Behavior of Asian carp larvae</a>
</p>

<p><a href="#/Browse/fais/539090c5e4b04eea98bf8593" onclick="clickNav()">USGS Hydrologic Support to Prevent Interbasin Transfer of Asian Carp at an intermittent connection of the Wabash and Lake Erie basins at Eagle Marsh, Indiana</a>
</p>

<p><a href="#/Browse/fais/5390918fe4b04eea98bf85a2" onclick="clickNav()">Assessment of Illinois River and other rivers for hydraulic and water-quality influences on Asian carps movement, spawning and recruitment</a>
</p>

<p><a href="#/Browse/fais/53909397e4b04eea98bf85c7" onclick="clickNav()">Potential for Interbasin Invasive-Species Movement by way of the Groundwater Pathway near Lemont, Illinois</a>
</p>

<p><a href="#/Browse/fais/5390945ee4b04eea98bf85cb" onclick="clickNav()">Great Lakes Tributary Assessment for Asian carp Habitat Suitability and Development of a Tributary Assessment Tool</a>
</p>

<p><a href="#/Browse/fais/539095cbe4b04eea98bf85d0" onclick="clickNav()">Improving molecular techniques for monitoring Asian carps: Characterizing eDNA associated with spawning, eDNA persistence, and validation of new marker technology</a>
</p>

<p><a href="#/Browse/fais/542330c5e4b08312ac7ea68b" onclick="clickNav()">Investigating the Status of Grass Carp in the Sandusky River
</a>
</p>

<div style="border-bottom:solid #ECECEC 1px;"></div><br>


<div class="strong2">Contacts</div><br>

<p style="margin-left:15px;">
Sandra Morrison, smorrison@usgs.gov<br>
Great Lakes Science Center (GLSC)<br>
734-214-9393
</p>

<p style="margin-left:15px;">
Cindy Kolar, ckolar@usgs.gov<br>
703-648-4023
</p>


</div>