<div id="contentBrowseDetail" class="clearfix">
		
	<h2 class="detailTitle" ng-bind-html="record.title"></h2>

	<div class="edit-link" ng-if="record.userCanEdit">
		<a class="btn btn-small" title="Because you have a role on this project, you may edit it.  Click to edit" prevent-default href="javascript:void(0)" ng-click="nav.setPath('Projects/' + record.id)">Edit this Project</a>
	</div>
	<img class="browse-image" ng-src="{{record.browseImage}}"/>
	<div class="template-list">
		<h5>Template<span ng-if="record.templates && record.templates.length>1">s</span>:
			<span ng-if="!record.templates || record.templates.length == 0"
				  class="no-template-found" >No funding template found</span>
			<span class="template-name" ng-repeat="template in record.templates">
				<span ng-bind-html="template"></span><span class="template-separator" ng-if="record.templates.length &gt; 1 &amp;&amp; !$last">, </span>
			</span>
			
		</h5>
		<br>
	</div>
	
	<h4>Background/Problem</h4>
	<p class="background" ng-bind-html="record.purpose"></p>
	
	<div class="description-of-work" ng-bind-html="record.body"></div>
	
	<div ng-if="record.publications">
		<h4>Publications</h4>
		<div style="width:200px" ng-if="record.publications==='loading'">
			<glri-loading state="record.publications"></glri-loading>
		</div>
		<div ng-if="record.publications && transient.currentItem.publications!=='loading'">
			<p ng-repeat="publication in record.publications | orderBy:'dateCreated':true">
				<a href="{{publication.url}}" target="_blank" ng-bind-html="publication.citation"></a>
			</p>
		</div>
	</div>
	
	<div ng-if="record.datasets">
		<h4>Datasets</h4>
		<div style="width:200px" ng-if="record.datasets==='loading'">
			<glri-loading state="record.datasets"></glri-loading>
		</div>
		<div ng-if="record.datasets && transient.currentItem.datasets!=='loading'">
			<p ng-repeat="dataset in record.datasets">
				<a href="{{dataset.url}}" target="_blank" ng-bind-html="dataset.title"></a>
			</p>
		</div>
	</div>	
	
	<h4>Contacts</h4>
	<p class="point-of-contact" ng-bind-html="record.contactHtml"></p>
	
	<h4>For more information</h4>
	<p> see all of this project's metadata in 
		<a title="Click to go directly to this record in ScienceBase" href="{{record.url}}" 
		target="_blank">ScienceBase &gt;&gt;</a>
	</p>

<!-- contentBrowseDetail -->
</div>
