<html ng-app="GLRICatalogApp">
<head>

	<style type="text/css">
		@charset "UTF-8";
		[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}
		ng\:form{display:block;}
		.ng-animate-block-transitions{transition:0s all!important;-webkit-transition:0s all!important;}
	</style>
 	<title>USGS Great Lakes Restoration Initiative (GLRI)</title>
		
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=11">

	<link href="../favicon.ico" rel="shortcut icon" type="image/x-icon">
		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>USGS Great Lakes Restoration Initiative (GLRI)</title>
	<meta name="description" content="The GLRI home page with infomation about all GLRI projects.">
	<meta name="title"     content="USGS Great Lakes Restoration Initiative (GLRI) - Adaptive Management - Phragmites">
	<meta name="author"    content="Great Lakes Restoration Initiative (GLRI), GLRI">
	<meta name="keywords"  content="USGS, adaptive management, Phragmites">
	<meta name="publisher" content="">
	<meta name="country"   content="USA">
	<meta name="language"  content="EN">
	<meta name="revised"   content="2015-08-27 10:44">
	<meta name="review"    content="">
	<meta name="expires"   content="Never">
	
	<link type="text/css" rel="stylesheet" href="../template/css/usgs_common.css">
	<link type="text/css" rel="stylesheet" href="../template/css/usgs_style_main.css">
	<link type="text/css" rel="stylesheet" href="../css/custom.css">
	
	<script src="//www.youtube.com/iframe_api"></script>
	<script async="" src="http://s.ytimg.com/yts/jsbin/www-widgetapi-vflRC6hVw/www-widgetapi.js" id="www-widgetapi-script" type="text/javascript"></script>

	<script type="text/javascript" src="../webjars/jquery/2.1.4/jquery.js"></script>
	<script type="text/javascript" src="../webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"></script>
	
	<script type="text/javascript" src="./webjars/angularjs/1.4.7/angular.js"></script>
	<script type="text/javascript" src="./webjars/angular-sanitize/1.3.11/angular-sanitize.js"></script>
	<script type="text/javascript" src="./webjars/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.js"></script>
	<script type="text/javascript" src="./webjars/angular-ui-select/0.12.1/select.min.js"></script>
	<script type="text/javascript" src="./webjars/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>

	<!-- Twitter, Bootstrap, & themes -->
	<link rel="stylesheet" type="text/css" href="../webjars/bootstrap/3.3.4/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../style/themes/theme1.css">
	<link rel="stylesheet" type="text/css" href="../webjars/angular-ui-select/0.12.1/select.min.css" >
	<link rel="stylesheet" type="text/css" href="../webjars/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css">

	<!-- legacy css -->
	<link type="text/css" rel="stylesheet" href="../css/dynamic.css">
	<link type="text/css" rel="stylesheet" href="../css/style.css">
	<link type="text/css" rel="stylesheet" href="../css/layout.css">
	<link type="text/css" rel="stylesheet" href="../css/common.css">
	<link type="text/css" rel="stylesheet" href="../css/dropdown2.css">
	<link type="text/css" rel="stylesheet" href="../css/theme.css">
<link href="../css/phragmites/style.css" rel="stylesheet" type="text/css" />
<link href="../css/phragmites/common.css" rel="stylesheet" type="text/css" />
<link href="../css/phragmites/custom.css" rel="stylesheet" type="text/css" />

	<!-- Application custom -->
	<link rel="stylesheet" type="text/css" href="../css/glri.css">
	
	<link href="../webjars/openlayers/2.13.1/theme/default/style.css" type="text/css" rel="stylesheet">
	
	<script type="text/javascript" src="js/select2buttons.js"></script>
	<link rel="stylesheet" type="text/css" href="css/select2Buttons.css">

	<link rel="stylesheet" type="text/css" href="css/newProjectForm.css">
	
</head>
<body ng-controller="NewProjectCtrl">
<div class="row">
				<div class="col-xs-12">
					<div id="usgs-header-panel" class="">
    <div id="header">
        <div id="banner-area">
            <h1>U.S. Geological Survey</h1>
            <!-- Not actually visible unless printed -->
            <div id="usgs-header-logo">
                <a onmousedown="_sendEvent('Outbound','www.usgs.gov','/',0);_sendEvent('Outbound','www.usgs.gov','/',0);" href="http://www.usgs.gov" title="Link to the US Geological Survey main web page">
                    <img alt="USGS Logo - science for a changing world" title="U.S. Geological Survey Home Page" src="../template/images/usgs_logo.jpg">
                </a>
            </div>
            <ul id="ccsa-area">
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/',0);_sendEvent('Outbound','www.usgs.gov','/',0);" href="http://www.usgs.gov/" title="Link to main USGS page">
				USGS Home</a></li>
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/ask/index.html',0);_sendEvent('Outbound','www.usgs.gov','/ask/index.html',0);" href="http://www.usgs.gov/ask/index.html" title="Link to main USGS contact page">
				Contact USGS</a></li>
                <li><a onmousedown="_sendEvent('Outbound','search.usgs.gov','/',0);_sendEvent('Outbound','search.usgs.gov','/',0);" href="http://search.usgs.gov/" title="Link to main USGS search (not publications search)">
				Search USGS</a></li>
            </ul>
        </div><!-- End content -->
		<div id="site-title" class="clearfix">
			<h1>Great Lakes Restoration Initiative (GLRI)</h1>
			
		</div>
        
    </div><!-- /header -->
</div><!--/header panel-->

<body>

<!--dynamic start-->
<div id="wrapper">
<p style="padding-top:18px;">
<span class="largetitle">USGS <i>Phragmites</i> Management Support </span>
</p>

<p><span class="tiny2" style="float:left;">
Prepared by Dr. Kurt Kowalski, U.S. Geological Survey</span><br>
<span class="tiny2" style="float:left;">(Released January 2016) (<a href="../resources/Phragmites%20Management%20Support%20WebProduct_Kowalski_v2b.pdf">PDF 
Version</a>)/(<a href="../resources/Phragmites%20Management%20Support%20WebProduct_Kowalski_v2.docx">Word Version</a>)</span>
</p></br>

<table width="100%;">
<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2">Summary of Outputs and Outcomes through 2015</div>

<p>USGS used GLRI funding to work within an Integrated Pest Management (IPM) 
framework to engage partners and initiate several related projects resulting in 
regional collaboration and action of unprecedented levels. Many printed and 
digital products were produced or are in progress. We have changed the way 
people think about and approach the issues surrounding <i>Phragmites</i> in the 
Great Lakes basin. Here we highlight significant accomplishments to date. Find 
more details for each below.
</p>

<ul class="list-tick" style="margin-left:63px;">
<li><b><i>Great Lakes </i>Phragmites<i> Collaborative</i></b><i>:</i> <u>The 
Great Lakes <i>Phragmites</i> Collaborative</u> (GLPC) was formed in 2012 to 
engage stakeholders and maximize the collective impact of efforts to control <i>
Phragmites</i> by coordinating people, information, and action through 
facilitated meetings, an extensive web site, webinars, blogs, and other forms of 
social media. The collaborative has played an integral role in initiating and 
organizing many other projects.<br>
&nbsp;</li>
<li><i><b>Adaptive Management</b>:</i> The GLPC will continue to play a 
significant role in development and implementation of the recently initiated 
basin-wide project titled: <u>A <i>Phragmites</i> Adaptive Management Framework</u>.<br>
&nbsp;</li>
<li><i><b>Mapping and Vulnerability</b></i>: In 2013, the Journal of Great Lakes 
Research published results from a significant mapping study that used PALSAR 
radar data to produce the <u>first U.S. coastal Great Lakes distribution map of
<i>Phragmites australis</i></u>. This map showed 24,643 ha of large (&gt; 0.2 ha), 
dense stands of invasive <i>Phragmites</i> within the coastal zone. Using these 
data along with landscape-scale environmental data, we forecasted areas that may 
be highly vulnerable to new <i>Phragmites</i> invasion.<br>
&nbsp;</li>
<li><i><b>Innovative Control (1)</b>:</i> Working with Wayne State University, 
we continue to make progress testing gene silencing as a means of <i>Phragmites</i> 
management. Genes regulating photosynthesis have been silenced in two model 
plants (maize and spinach), producing stunted growth. We recently led a 
pioneering effort to sequence and <u>analyze the <i>Phragmites</i> transcriptome</u> 
(manuscript in prep), which will allow us to target particular traits for 
control. We are currently testing effective transmission vectors on the way to 
field trials in <i>Phragmites</i>.<br>
&nbsp;</li>
<li><i><b>Innovative Control (2)</b>:</i> A collective impact approach was used 
to form the <u><i>Phragmites</i> Symbiosis Collaborative</u> (PSC). The PSC, an 
international team of 12 scientists specializing in plant-microbial symbiosis, 
developed a conceptual framework for studying the microbial interactions 
associated with <i>Phragmites</i>. In February 2015, the PSC published a <u>
science agenda</u> in Frontiers in Microbiology that established a guide for new 
projects in this field and will maintain the collective focus on the ultimate 
goal of a <i>Phragmites</i> management approach based on microbial symbiosis.<br>
&nbsp;</li>
<li><i><b>Innovative Control (3)</b>:</i> The PSC helped initiate several 
ongoing studies between USGS and collaborators at Indiana University, Rutgers 
University, and other institutions to investigate the <u>roles that fungal and 
bacterial endophytes play</u> in <u>Phragmites</u> invasion. Results from these 
collaborative efforts are being communicated via presentations and manuscripts 
in professional journals.<br>
&nbsp;</li>
</ul>
</td>
</tr>

<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2">The Great Lakes <i>Phragmites</i> Collaborative<br></div>
&nbsp;<p>
The Great Lakes <i>Phragmites</i> Collaborative (GLPC) is an initiative led by a 
core team supported by staff from USGS – Great Lakes Science Center and the 
Great Lakes Commission (GLC), with oversight and input from an international 
Advisory Committee. The goal of the GLPC is to form regional partnerships to 
promote more coordinated, efficient, and strategic approaches to <i>Phragmites</i> 
management, restoration, and research in the eight states and two Canadian 
provinces in the Great Lakes basin. The GLPC serves as a communication conduit 
via an interactive website, a webinar series, and several social media outlets 
that facilitate access to information, encourage technology transfer, and build 
connections between habitat managers, governmental agencies, and private 
landowners.</p>
<p>
The organization and involvement from the Advisory Committee has helped to 
organize many of the most recent <i>Phragmites</i> research and management developments 
including:</p>

<ul class="list-tick" >
<li>Allowing involved parties (e.g. state agencies, non-for-profits, land 
managers) to communicate more effectively and on a regular basis, reduce 
redundancies, and improve efficiencies in <i>Phragmites</i> research and 
management<br>&nbsp;</li>
<li>Identifying a list of <i>Phragmites</i> management and research needs 
including mapping and forecasting the spread of the plant, more effective and 
innovative control strategies, best management practices, and an adaptive 
management framework</li>
</ul>

<p align="center">
<img border="0" src="../images/phragmites/TheGreatLakesPhragmitesCollaborative1.jpg" width="698" height="335" title="Text box" alt="By the numbers. Between June 2012 and mid-2015, the Collaborative organized: 17 hour-long webinars averaging 89 live viewers; 28 Phragmites-related blog posts. Social media presence included: &gt;18,000 annual unique users on the GLPC web page; 566 email listerv users; 268 Facebook likes; 448 Twitter followers. Professional conference presentations: 3 oral presentations; 2 poster presentations. Publications: USGS and GLC are preparing a manuscript detailing the GLPC and using it as a model for the use of the collective impact approach.">
</p>
<p align="center">
<img border="0" src="../images/phragmites/GLPCimage60.png" width="931" height="774" title="Screenshot of the Great Lakes Phragmites Collaborative webpage" alt="Great Lakes Phragmites Collaborative home page."></p>

</td>
</tr>
<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2">Basin-wide <i>Phragmites</i> Mapping and Vulnerability Mapping<br></div>
&nbsp;<p>To understand the extent of the <i>Phragmites</i> problem in the Great Lakes 
coastal zone, a mapping exercise was completed using PALSAR satellite imagery to 
identify large stands of non-native <i>Phragmites</i>. This effort produced the 
first U.S. coastal Great Lakes distribution map of <i>Phragmites australis</i>, 
which identified 24,643 ha of large (&gt; 0.2 ha), dense stands of non-native <i>
Phragmites</i>.</p>
<p>
Using 
the basin-scale distribution map, environmental data (e.g., soils, nutrients, 
disturbance, climate, topography), and climate predictions, we performed 
analyses of current and predicted suitable coastal habitat. We also investigated 
differential influences of environmental variables in the upper lakes (Lakes 
Superior, Michigan, and Huron) and lower lakes (Lakes St. Clair, Erie, and 
Ontario). The results of this study, combined with a publicly available online 
GLRI <i>Phragmites</i> Decision Support Tool (DST), enable resource managers and 
restoration practitioners to target and prioritize <i>Phragmites</i> control 
efforts in the Great Lakes coastal zone.</p>
<p align="center">
<img border="0" src="../images/phragmites/Mapper60.png" title="Screenshot of the online Phragmites Decision Support Tool and Mapper" width="677" height="385" alt="Phragmites Decision Support Tool and Mapper webpage showing current stands and areas vulnerabile to invasion around Lake Erie and Lake St. Clair."></p>
</p>
<p align="center">
<img border="0" src="../images/phragmites/Basin-widePhragmitesMappingandVulnerabilityMapping.jpg" title="Text box" width="697" height="301" alt="Publications: Bourgeau-Chavez, L.L., et al. 2013.  Mapping invasive Phragmites australis in the coastal Great Lakes with ALOS PALSAR satellite imagery for decision support. Journal of Great Lakes Research 39(Supplement 1):65-77. Carlson Mazur, M.L., K.P. Kowalski, and D. Galbraith. 2014. Assessment of suitable habitat for Phragmites australis (common reed) in the Great Lakes coastal zone. Aquatic Invasions 9(1):1-19. Presentations: Huberty, B., L. Bourgeau-Chavez, K. Kowalski, and M. Renz. Multiscale Phragmites Mapping and its Aoplication. Great Lakes Phragmites Collaborative Webinar Series. February 6, 2013."></p>
</td>
</tr>

<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2">Gene Silencing for <i>Phragmites</i> Management<br></div>
&nbsp;<p>Researchers at Wayne State University, in cooperation with the USGS-GLSC, are 
exploring the use of gene silencing as a means of <i>Phragmites</i> management. 
This genetic approach is seeking a species-specific control option for managers, 
which could be very useful in sensitive areas or areas where conventional 
control efforts are not available.</p>

<p>RNA-based gene silencing disrupts the transmission of genetic information 
necessary for protein synthesis and trait development. Thus, if genes integral 
in photosynthesis (for example) are silenced, the plant effectively will fail to 
produce energy for itself.
</p>

<p>We sequenced the transcriptome (all of the RNA codes that make proteins in 
the plant) of <i>Phragmites australis</i> to create a genetic road-map that will 
guide future targets for knockdown of gene expression via constructed vectors.</p>
<p>Competition experiments will be carried out between &#39;silenced&#39; plants and 
non-silenced plants. Field trials will begin once a reduction in competitive 
abilities are documented.</p>
<p align="center">
<img border="0" src="../images/phragmites/Spinach_leaf.png" title="Example of a silenced gene in a plant" width="453" height="470" alt="Genes coding for photosynthesis 'silenced' in a spinach leaf. One leaf is green. The other is yellow."></p>
<p align="center">
<img border="0" src="../images/phragmites/GeneSilencingforPhragmitesManagement.jpg" title="Text box" width="703" height="188" alt="Publications: Golenberg, E., K. P. Kowalski, and W. Bickford. 2014. Transcriptome analysis of field collected Phragmites australis: differential expression patterns and pathogen/herbivore imprints on a tissue-specific level (In Prep). Presentations: Golenberg, E. 2013. Great Lakes Phragmites Collaborative Webinar Series. Nov 22, 2013."></p>

</td>

</tr>

<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2"><i>Phragmites</i> Symbiosis Collaborative<br></div>
&nbsp;<p>Building off the success from the Great Lakes <i>Phragmites</i> 
Collaborative, we set out to use a collective impact approach to advance the 
science of microbial symbiosis in <i>Phragmites</i> and identify management 
targets. Assisted by partners at the Great Lakes Commission, we put together an 
international group consisting of 12 scientists who meet regularly to assess the 
state of the science and identify research gaps. In February 2015, we published 
a science agenda in Frontiers in Microbiology; this paper is being used as a 
guide for new projects in this field and will maintain the collective focus on 
the ultimate goal of a <i>Phragmites</i> management approach based on microbial 
symbiosis.</p>

<p>As a direct result of assembling this group, USGS has formed new 
relationships with other research labs and is contributing directly to 
collaborative research efforts exploring the role of bacterial and fungal 
endophytes in invasive <i>Phragmites</i>.</p>
<p align="center">
<img border="0" src="../images/phragmites/PhragmitesSymbiosisCollaborative.jpg" title="Photos" alt="Left: a dense phragmites stand. Right: fungal endophytes isolated from phragmites australis tissues (by Keith Clay)." width="624" height="371"></p>

<p>In collaboration with Indiana University, we are exploring the role of fungal 
endophytes in the invasion success of <i>Phragmites</i> to determine if and how 
these organisms are providing any advantage to this extremely invasive plant. We 
are conducting additional research with collaborators at Rutgers University 
focused on bacterial endophytes within <i>Phragmites</i>. Both of these research 
projects are intended to develop the potential for microbial-based <i>Phragmites</i> 
management opportunities.</p>
<p align="center">
<img border="0" src="../images/phragmites/PhragApproach_Kowalskietal2015.png" title="Approach to advancing the science, from Kowalski et al. 2015" width="781" height="194" alt="First, identify microbes influential to Phragmites. Then, determine roles played by microbial assemblage. Then, target relationships for control or enhancement. Next, test effectiveness and feasibility of new methods in the field. Finally, the goal: create microbe-based Phragmites management approachs."></p>
<p align="center">
&nbsp;</p>
<p>
Partners:
Smithsonian Environmental Research Center, U.S. Department of Agriculture, Rutgers University, Great Lakes Commission, Indiana University, State University of New York - Brockport</p>
<p align="center">
<img border="0" src="../images/phragmites/PhragmitesSymbiosisCollaborative_pubs.jpg" title="Text box" width="701" height="373" alt="Publications: Kowalski, K.P., et al. 2015. Advancing the science of microbial symbiosis to support invasive species management: a case study on Phragmites in the Great Lakes. Frontiers in Microbiology 6:1-14. Several papers in review. Presentations:
Clay, K., K. P. Kowalski, Z. Shearin, W. Bickford, K. Bourke. Exploring fungal endophyte diversity in invasive Phragmites australis. Society of Wetlands Scientists Conference. June 2015. Kowalski, K. P., W. Bickford, D. Wilcox, R. J. Rodriguez. A microbial approach to Phragmites management. Society of Wetlands Scientists Conference. June 2013. Bickford, W., K. P. Kowalski. Developing microbe-based management strategies for invasive Phragmites australis. International Association of Great Lakes Research Conference. May 2014."></p>

</td>

</tr>

<tr>
<td style="padding-top:18px;margin-top:18px;border-top-style: solid; border-top-width: 1px; border-top-color:#F0F0F0;">
<div class="strong2">Putting it all together: <i>Phragmites</i> Adaptive 
	Management Framework<br></div>

&nbsp;<p>Facilitated by the Great Lakes <i>Phragmites</i> Collaborative, we are 
spear-heading an integrated effort to develop a regional adaptive management 
framework for <i>Phragmites</i> that is based on principles of structured 
decision making. Fueled by stakeholder involvement and on-the-ground data 
collection, this effort seeks to change the way <i>Phragmites</i> is managed at 
the patch and landscape scales.</p>

<p>The new integrated approach will build on existing successful programs (e.g., 
Native Prairie Adaptive Management) and resources (USFWS <i>Phragmites</i> 
adaptive management plan for the refuge system) to develop a framework suitable 
for basin-wide implementation. The core of the framework will involve 
standardized scalable monitoring protocols and a centralized data management 
system that supports large-scale state/transition models. As managers populate 
the database with on-the-ground data, management guidelines will adapt to 
reflect the most successful techniques applied in the given system. Patch- and 
landscape-scale guidance will be produced to assist land managers with annual 
decisions regarding <i>Phragmites</i> management.
</p>

<p>
The core USGS development team, the Great Lakes Commission, and many other 
partners will engage a suite of private, non-profit, and governmental partners 
to maximize basin-wide participation and investment by resource managers. 
Components of the framework will be improved with time based on user feedback 
and advances in technologies.</p>

<p>
Partners: U.S. Fish & Wildlife Service, Ducks Unlimited, The Nature Conservancy, Huron Pines, Ohio Department of Natural Resources, Great Lakes Commission, Michigan Department of Natural Resources, Wisconsin Department of Natural Resources</p>
<p align="center">
<img border="0" src="../images/phragmites/AM%20loop.jpg" title="Phragmites Adaptive Management Framework components" width="100%" height="720" alt="Plan, manage, evaluate and learn, and adjust along the way."></p>

</td>

</tr>
</table>






<table border="0" width="100%" cellspacing="1" cellpadding="0">
	<tr>
		<td style="border-bottom-style: solid; border-bottom-width: 1px">&nbsp;</td>
		<td style="border-bottom-style: solid; border-bottom-width: 1px">&nbsp;</td>
	</tr>
	<tr>
		<td style="border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">
		&nbsp;</td>
		<td style="border-top-style: solid; border-top-width: 1px; border-bottom-style: solid; border-bottom-width: 1px">
		&nbsp;</td>
	</tr>
	<tr>
		<td style="border-top-style: solid; border-top-width: 1px">&nbsp;</td>
		<td style="border-top-style: solid; border-top-width: 1px">&nbsp;</td>
	</tr>
</table>






</div>




<div class="clear"></div>





  
  



<div class="col-xs-12">
					<div id="usgs-footer-panel" class="">
    <div id="footer" style="width: 100%; margin-right: -1em;">
        <div id="usgs-policy-links">
            <h4 class="access-help">USGS Policy Information Links</h4>
            <ul class="hnav">
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/accessibility.html',0);_sendEvent('Outbound','www.usgs.gov','/accessibility.html',0);" href="http://www.usgs.gov/accessibility.html" title="USGS web accessibility policy">Accessibility</a></li>
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/foia/',0);_sendEvent('Outbound','www.usgs.gov','/foia/',0);" href="http://www.usgs.gov/foia/" title="USGS Freedom of Information Act information">FOIA</a></li>
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/privacy.html',0);_sendEvent('Outbound','www.usgs.gov','/privacy.html',0);" href="http://www.usgs.gov/privacy.html" title="USGS privacy policies">Privacy</a></li>
                <li><a onmousedown="_sendEvent('Outbound','www.usgs.gov','/policies_notices.html',0);_sendEvent('Outbound','www.usgs.gov','/policies_notices.html',0);" href="http://www.usgs.gov/policies_notices.html" title="USGS web policies and notices">Policies and Notices</a></li>
            </ul>
        </div><!-- end usgs-policy-links -->
        <div class="content">
            <div id="page-info">
                <p id="footer-doi-links">
                    <span class="vcard">
                        <a onmousedown="_sendEvent('Outbound','www.doi.gov','/',0);_sendEvent('Outbound','www.doi.gov','/',0);" class="url fn org" href="http://www.doi.gov/" title="Link to the main DOI web site">U.S. Department of the Interior</a>
                        <span class="adr">
                            <span class="street-address">1849 C Street, N.W.</span><br>
                            <span class="locality">Washington</span>, <span class="region">DC</span>
                            <span class="postal-code">20240</span>
                        </span>
                        <span class="tel">202-208-3100</span>
                    </span><!-- vcard --> | 
                    <span class="vcard">
                        <a onmousedown="_sendEvent('Outbound','www.usgs.gov','/',0);_sendEvent('Outbound','www.usgs.gov','/',0);" class="url fn org" href="http://www.usgs.gov" title="Link to the main USGS web site">U.S. Geological Survey</a>
                        <span class="adr">
                            <span class="post-office-box">Box 25286</span><br>
                            <span class="locality">Denver</span>, <span class="region">CO</span>
                            <span class="postal-code">8022</span>
                        </span>
                    </span><!-- vcard -->
                </p>
                <p id="footer-url-info">URL: <script type="text/javascript">document.write(document.location.href);</script>http://cida-test.er.usgs.gov/glri/#/Search</p>
                <p id="footer-contact-info">Page Contact Information: <a onmousedown="_sendEvent('Outbound MailTo','glri-database@usgs.gov','',0);_sendEvent('Outbound MailTo','glri-database@usgs.gov','',0);" href="mailto:glri-database@usgs.gov">GLRI Help</a></p>
                <p id="footer-page-modified-info">Page Last modified: 2015-08-27 10:44 (version 0.5.12)</p>
            </div><!-- /page-info -->
            <div id="gov-buttons">
                <a onmousedown="_sendEvent('Outbound','www.firstgov.gov','/',0);_sendEvent('Outbound','www.firstgov.gov','/',0);" title="link to the official US Government web portal" href="http://firstgov.gov/">
                    <img src="../template/images/footer_graphic_firstGov.jpg" alt="FirstGov button">
                </a>
                <a onmousedown="_sendEvent('Outbound','www.takepride.gov','/',0);_sendEvent('Outbound','www.takepride.gov','/',0);" title="Link to Take Pride in America, a volunteer organization that helps to keep America's public lands beautiful." href="http://www.takepride.gov/">
                    <img src="../template/images/footer_graphic_takePride.jpg" alt="Take Pride in America button">
                </a>
            </div><!-- /gov-buttons -->
        </div><!-- /content -->
    </div><!-- /footer -->
</div><!-- /footer panel -->







</body>
</html>
