<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<title>USGS Great Lakes Restoration Initiative (GLRI) - Adaptive Management - Phragmites</title>
<meta name="keywords" content="USGS, adaptive management, Phragmites">

<link href="style.css" rel="stylesheet" type="text/css" />

<link href="common.css" rel="stylesheet" type="text/css" />
<link href="custom.css" rel="stylesheet" type="text/css" />


<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" href="../../eeap/ie6.css">
<![endif]-->


 <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

<script type="text/javascript" src="../../eeap/headlines.js"></script>
<!-- include jQuery UI  From Google Code-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>



<script type="text/javascript">    
	var isIE6 = false;    

</script>  
<!--[if IE 6]>
	<script type="text/javascript">    
    	var isIE6 = true;    
    </script>  
<![endif]-->

<style type="text/css">
#wrapper {
  margin-left: 27px;
  margin-right: 27px;
}
#cleared {
  clear: both;
}


</style>


</head>
			
<!-- BEGIN USGS Header Template -->
<div class="bannerColorBand">
	<div class="banner">
		<div class="identifier"><a href="http://www.usgs.gov/" title="U.S. Geological Survey Home Page">
			<img src="../../eeap/images/header_graphic_usgsIdentifier_white.jpg" alt="U.S. Geological Survey - science for a changing world" width="178" height="72" style="border: none;" /></a></div>
		<img src="../../eeap/images/header_graphic_spacer.gif" height="72" width="1" alt="spacer" style="position: absolute;" />
		<div class="ccsaBox">
			<img src="../../eeap/images/header_graphic_spacer.gif" height="72" width="1" alt="spacer" style="float: left;" />
			<div class="ccsa">
			  <br /><a href="http://www.usgs.gov/">USGS Home</a><br />
			  <a href="http://www.usgs.gov/ask/index.html">Contact USGS</a><br />
			  <a href="http://www.usgs.gov/search">Search USGS</a><br />
			</div>
		</div>
	</div>
</div>
<div class="siteTitle">
	<p id="pTitle">Great Lakes Restoration Initiative (GLRI)</p>
</div>
<!-- END USGS Header Template -->

<body>

<!--dynamic start-->
<div id="wrapper"
<p>
<span class="largetitle"><i>Phragmites</i> 
Management Support </span>
</p>

<p><span class="tiny2"><br>
Prepared by Kurt Kowalski, U.S. Geological Survey <br>
(Released July 2015) (<a href="#">PDF Version</a>)</span>
</p>


&nbsp;<div class="strong2">Summary of Outputs and Outcomes since 2010</div><br />

<p>USGS used GLRI funding to work within an Integrated Pest Management (IPM) 
framework to engage partners and initiate several related projects resulting in 
regional collaboration and action of unprecedented levels. Many printed and 
digital products were produced or are in progress. We have changed the way 
people think about and approach the issues surrounding <i>Phragmites</i> in the 
Great Lakes Basin. Here we highlight significant accomplishments to date:
</p>

<ul class="list-tick" style="margin-left:63px;">
<li><b>Great Lakes <i>Phragmites</i> Collaborative</b>: <u>The Great Lakes 
<i>Phragmites</i> Collaborative</u> (GLPC) was formed in 2012 to engage stakeholders 
and maximize the collective impact of efforts to control <i>Phragmites</i> by 
coordinating people, information, and action through facilitated meetings, an 
extensive web site, webinars, blogs, and other forms of social media. The 
collaborative has played an integral role in initiating and organizing many other projects 
(more details).<br>
&nbsp;</li>
<li><b>Adaptive Management</b>: The GLPC will continue to play a significant 
role in development and implementation of the recently initiated basin-wide 
project titled: <u>A <i>Phragmites</i> Adaptive Management Framework</u> (more 
details).<br>
&nbsp;</li>
<li><b>Mapping and Vulnerability</b>: In 2013, the Journal of Great Lakes 
Research published results from a significant mapping study that used PALSAR 
radar data to produce <u>the first U.S. coastal Great Lakes distribution map of
<i>Phragmites australis</i></u>. This map showed 24,643 ha of large (&gt; 0.2 ha), 
dense stands of invasive <i>Phragmites</i> within the coastal zone. Using these 
data along with landscape-scale environmental data, we forecasted areas that may 
be highly vulnerable to new <i>Phragmites</i> invasion (more details).<br>
&nbsp;</li>
<li><b>Innovative Control (1)</b>: Working with Wayne State University, we 
continue to make progress testing gene silencing as a means of <i>Phragmites</i> 
management. Genes regulating photosynthesis have been silenced in two model 
plants (maize and spinach), producing stunted growth. We recently led a 
pioneering effort to sequence and <u>analyze the <i>Phragmites</i> transcriptome</u> 
(manuscript in prep), which will allow us to target particular traits for 
control. We are currently testing effective transmission vectors on the way to 
field trials in <i>Phragmites</i> (more details).<br>
&nbsp;</li>
<li><b>Innovative Control (2)</b>: Using a collective impact approach, we formed 
the <u><i>Phragmites</i> Symbiosis Collaborative</u> (PSC), an international 
team of 12 scientists specializing in plant-microbial symbiosis developed a 
conceptual framework for studying the microbial interactions associated with <i>
Phragmites</i>. In February 2015, the PSC published <u>a science agenda</u> in 
Frontiers in Microbiology that establishes a guide for new projects in this 
field and will maintain the collective focus on the ultimate goal of a <i>
Phragmites</i> management approach based on microbial symbiosis (more details).<br>
&nbsp;</li>
<li><b>Innovative Control (3)</b>: The PSC helped initiate several ongoing 
studies with collaborators at Indiana University, Rutgers University, and other 
institutions that are investigating the <u>roles that fungal and bacterial 
endophytes</u> play in <i>Phragmites</i> invasion. Results from these 
collaborative efforts are being communicated via presentations and manuscripts 
in professional journals (more details).<br>
&nbsp;</li>
</ul>


<div style="border-top:1px solid #F0F0F0;padding-top:18px;height:50%;margin-top:18px;">
<div class="strong2">The Great Lakes Phragmites Collaborative<br>
<img border="0" src="page2_infographic_72.png" style="float: right; margin: 9px" width="297" height="544"></div>
<p>
The Great Lakes <i>Phragmites</i> Collaborative (GLPC) is an initiative led 
by a core team supported by staff from USGS – Great Lakes Science Center and the 
Great Lakes Commission (GLC), with oversight and input from an international 
Advisory Committee. The goal of the GLPC is to form regional partnerships to 
promote more coordinated, efficient, and strategic approaches to Phragmites 
management, restoration, and research in the eight states and two Canadian 
provinces in the Great Lakes basin. The GLPC serves as a communication conduit 
via an interactive website, a webinar series, and several social media outlets 
that facilitate access to information, encourage technology transfer, and build 
connections between habitat managers, governmental agencies, and private 
landowners.</p>
<p>
<img border="0" src="page2_picture.png" width="362" height="310" style="float: left; margin: 6px; margin-right:36px;">The organization and involvement from the Advisory Committee has helped to 
organize many of the most recent Phragmites research and management developments 
including:</p>

<ul class="list-tick">
<li>Allowing involved parties (e.g. state agencies, non-for-profits, land 
managers, etc.) to communicate more effectively and on a regular basis, reduce 
redundancies, and improve efficiencies in <i>Phragmites</i> research and 
management<br>&nbsp;</li>
<li>Identifying a list of needs regarding <i>Phragmites</i> management and 
research including mapping and forecasting the spread of the plant, more 
effective and innovative control strategies, best management practices, and an 
adaptive management framework</li>
</ul>
</div>

<div style="border-top:1px solid #F0F0F0;padding-top:18px;height:50%;margin-top:18px;">
<div class="strong2"><p>Basin-wide <i>
	Phragmites</i> Mapping and Vulnerability Mapping</div>
<p>To understand the extent of the <i>Phragmites</i> problem in the Great Lakes 
coastal zone, a mapping exercise was completed using PALSAR satellite imagery to 
map large stands of invasive <i>Phragmites</i>. This effort produced the first 
U.S. coastal Great Lakes distribution map of <i>Phragmites australis</i>, which 
identified 24,643 ha of large (&gt; 0.2 ha), dense stands of invasive <i>Phragmites</i>.</p>
<p>
<img border="0" src="images/lake%20erie.png" width="524" height="311" style="float: left; margin: 18px">Using the basin-scale distribution map, environmental data (e.g., soils, 
nutrients, disturbance,<img border="0" src="pubs_image_phrag_mapping.png" style="float: right; margin: 9px" width="297" height="374"> climate, topography), and climate predictions, we 
performed analyses of current and predicted suitable coastal habitat using 
boosted regression trees. We also investigated differential influences of 
environmental variables in the upper lakes (Lakes Superior, Michigan, and Huron) 
and lower lakes (Lakes St. Clair, Erie, and Ontario). The results of this study, 
combined with a publicly available online GLRI <i>Phragmites</i> Decision 
Support Tool (DST), enable resource managers and restoration practitioners to 
target and prioritize <i>Phragmites</i> control efforts in the Great Lakes 
coastal zone.</p>
</div>

<div style="border-top:1px solid #F0F0F0;padding-top:18px;height:50%;margin-top:18px;">
<div class="strong2"><p>
	<img border="0" src="phragm1.jpg" style="float:left;margin:18px"><p>Gene 
	Silencing for <i>Phragmites</i> Management</div>
		
<p>Researchers at Wayne State University, in cooperation with the USGS-GLSC, are 
exploring the use of gene silencing as a means of <i>Phragmites</i> management. 
This genetic approach is seeking a species-specific control option for managers, 
which could be very useful in sensitive areas or areas where conventional 
control efforts are not available.</p>

<p>RNA-based gene silencing disrupts the transmission of genetic<img border="0" src="pubs_image_phrag_genes.png" width="297" height="250" style="float: right; margin: 9px"> information 
necessary for protein synthesis and trait development. Thus, if genes integral 
in photosynthesis (for example) are silenced, the plant effectively will fail to 
produce energy for the plant.
</p>

<p>We sequenced the transcriptome (all of the RNA codes that make proteins in 
the plant) of <i>Phragmites australis</i> to create a genetic road-map that will 
guide future targets for knockdown of gene expression via constructed vectors.</p>
<p>Competition experiments will be carried out between 'silenced' plants and 
non-silenced plants. Field trials will begin once a reduction in competitive 
abilities are documented.</p>
</div>


</div>

</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>



						<div class="clear"></div>





  
  


<!-- BEGIN USGS Footer Template -->
<p class="footerBar" style="clear: both;margin-bottom:5px;">
	<a href="http://www.usgs.gov/accessibility.html" title="Accessibility Policy (Section 508). ">Accessibility</a>
	<a href="http://www.usgs.gov/foia/" title="Freedom of Information Act. ">FOIA</a>
	<a href="http://www.usgs.gov/privacy.html" title="Privacy policies of the U.S. Geological Survey. ">Privacy</a>
	<a href="http://www.usgs.gov/policies_notices.html" title="Policies and notices that govern information posted on USGS Web sites. ">Policies and Notices</a></p>

<p class="footerText" style="padding-bottom:30px;">
	<a href="http://www.takepride.gov/"><img src="http://www.usgs.gov/images/footer_graphic_takePride.jpg" alt="Take Pride in America home page." width="60" height="58" style="border: none;  float: right;padding-bottom:10px;" title="Take Pride in America home page."  /></a>
	<a href="http://www.usa.gov/"><img src="http://www.usgs.gov/images/footer_graphic_usagov.jpg" alt="USA dot Gov: The U.S. Government's Official Web Portal" style="border: none; float: right; " title="USA.Gov: The U.S. Government's Official Web Portal" /></a>
	<a href="http://www.doi.gov">U.S. Department of the Interior</a> | <a href="http://www.usgs.gov">U.S. Geological Survey</a><br />
	Page Contact Information: <a href="mailto:gs-w-ohclb_webmaster@usgs.gov">Webmaster</a><br />
	Page Last Modified:<!--#echo var="LAST_MODIFIED"--><br />
</p>
<hr />
<!-- END USGS Footer Template -->







</body>
</html>
