<div>
	<div class="resource-icon">
		<a title="{{record.resource}}: Click to go directly to this record in ScienceBase" href="{{record.url}}" target="_blank">
			<img ng-src="style/image/darkblue/{{record.resource}}.svg" />
		</a>
	</div>
	<h4 ng-bind-html="record.title"></h4>
	<p class="point-of-contact" ng-bind-html="record.contactText"></p>
	<div class="related-links" ng-if="record.mainLink || (record.hasChildren == true)">
		<div ng-if="record.mainLink">
			<a href="{{record.mainLink.url}}" target="_blank" ng-bind-html="record.mainLink.title"></a>
		</div>
		<div ng-if="record.hasChildren == true">
			<a href="" ng-click="toggleChildItems(record)">Publications and Datasets&nbsp;
				<span ng-if="record.childRecordState === 'notloaded'"><span class="glyphicon glyphicon-chevron-down"></span></span>
				<span ng-if="record.childRecordState === 'loading'">  <span class="glyphicon glyphicon-repeat"></span></span>
				<span ng-if="record.childRecordState === 'complete'"> <span class="glyphicon glyphicon-chevron-down"></span></span>
				<span ng-if="record.childRecordState === 'failed'">   <span class="glyphicon glyphicon-warning-sign"></span></span>
				<span ng-if="record.childRecordState === 'closed'">   <span class="glyphicon glyphicon-chevron-up"></span></span>
			</a>
		</div>
	</div>
	<p class="summary" ng-bind-html="record.summary"></p>
	
	<glri-loading state="record.childRecordState === 'loading'"></glri-loading>
	
	<div ng-if="record.childItems && record.childRecordState == 'complete'" class="child-records">
		<div class="list-head clearfix">
			<div class="pull-right"><a href="" ng-click="toggleChildItems(record)"><span title="Close child list." class="glyphicon glyphicon-remove-circle"></span></a></div>
			<h4>{{record.childItems.length}} Child record(s) (projects and datasets)</h4>
		</div>
		<ul>
			<li ng-repeat="child in record.childItems" ng-class="child.resource">
				<div class="resource-icon">
					<a title="{{child.resource}}: Click to go directly to this record in ScienceBase" href="{{child.url}}" target="_blank">
						<img ng-src="style/image/darkblue/{{child.resource}}.svg" />
					</a>
				</div>
				<h4 ng-bind-html="child.title"></h4>
				<p class="point-of-contact" ng-bind-html="child.contactText"></p>
				<div class="related-links">
					<div ng-if="child.mainLink">
						<a href="{{child.mainLink.url}}" target="_blank" ng-bind-html="child.mainLink.title"></a>
					</div>
				</div>
				<p class="summary" ng-bind-html="child.summary"></p>
			</li>
		</ul>
		<div class="list-foot clearfix">
			<div class="pull-right"><a href="" ng-click="toggleChildItems(record)">Close child list <span class="glyphicon glyphicon-remove-circle"></span></a></div>
		</div>
	</div>
</div>
					