@import url("http://fonts.googleapis.com/css?family=Patua+One|Open+Sans");

#header #banner-area {
	background-image: url(../image/black_banner.png);
}

ul#ccsa-area {
	list-style: none; padding: .3em 0 0 0; margin: 0;
}

th a {
  color: #000 !important;
}
th a:hover {
  color: #000 !important;
}

.hidden { display: none; }

.glri_content {
	/*              top     | right 	| bottom	| left */
     padding:       0;
}

.boundingBoxButton {
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #aaa;
}

.filter_label {
        margin-top: 8px;
        font-size: 12px;
}

.boundingMap {
        width: 328px;
	    height: 200px;
	    border: 1px solid #ccc;
}

.boundsGroup {
        /*              top     | right | bottom  | left */
        padding:        6px        14px     0px     0px !important;

}

.boundsValue {
        font-size: 10px !important;
        padding: 0px 3px 0px 5px !important;
        text-align: left;
}

.adjustDropDown {
        margin-top: 10px;
}

a.resource-type {
	display: block; float: left; margin: -.2em .2em .2em -.2em;
}
.resource-type img { width: 50px; height: 50px; margin: 0; }