@import url("http://fonts.googleapis.com/css?family=Patua+One|Open+Sans");

th a {
  color: #000 !important;
}
th a:hover {
  color: #000 !important;
}

.hidden { display: none; }

.map {
    width: 512px;
    height: 256px;
    border: 1px solid #ccc;
}

.boundingBoxButton {
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: 1px solid #000;
    background-color: #aaa;
}

.filter_label {
        margin-top: 8px;
}

.boundingMap {
        width: 512px;
        height: 268px;
        border: 1px solid #ccc;
}

.boundsGroup {
        /*              top     | right | bottom        | left */
        padding:        6px             0px             0px             6px;

}

.boundsValue {
        font-size: 10px !important;
        padding: 0px 3px 0px 5px !important;
        text-align: left;
}

.adjustDropDown {
        margin-top: 8px;
        margin-left: 30px !important;
}
