<div id="contentBrowseDetail" class="clearfix">
		
	<h2 class="detailTitle" ng-bind="transient.currentItem.title"></h2>
	<img class="browse-image" ng-if="transient.currentItem.browseImage" src="{{transient.currentItem.browseImage}}" />
	<div class="template-list">
		<h5>Template<span ng-if="transient.currentItem.templates && transient.currentItem.templates.length>1">s</span>:
			<span ng-if="!transient.currentItem.templates || transient.currentItem.templates.length == 0"
				  class="no-template-found" >No funding template found</span>
			<span class="template-name" ng-repeat="template in transient.currentItem.templates">
				<span ng-bind="template"></span><span class="template-separator" ng-if="transient.currentItem.templates.length &gt; 1 &amp;&amp; !$last">, </span>
			</span>
			
		</h5>
		<br>
	</div>
	
	<h4>Background/Problem</h4>
	<p class="background" ng-bind="transient.currentItem.purpose"></p>
	
	<h4>Description of Work</h4>
	<p class="description-of-work" ng-bind="transient.currentItem.body"></p>
	
	<h4>Publications</h4>
	<p   ng-if=" ! transient.currentItem.publications">none</p>
	<div style="width:200px" ng-if="transient.currentItem.publications==='loading'">
		<glri-loading state="transient.currentItem.publications"></glri-loading>
	</div>
	<div ng-if="transient.currentItem.publications && transient.currentItem.publications!=='loading'">
		<p ng-repeat="publication in transient.currentItem.publications | orderBy:'dateCreated':true">
			<a href="{{publication.url}}" target="_blank" ng-bind="publication.citation"></a>
		</p>
	</div>
	
	<h4>Contacts</h4>
	<p class="point-of-contact" ng-bind-html="transient.currentItem.contactHtml"></p>
	
	<h4>For more information</h4>
	<p> see all of this project's metadata in 
		<a title="Click to go directly to this record in ScienceBase" href="{{transient.currentItem.url}}" 
		target="_blank">ScienceBase &gt;&gt;</a>
	</p>

<!-- contentBrowseDetail -->
</div>
