<div>

<p>
The Great Lakes Restoration Initiative (GLRI) is an interagency program that addresses the most significant environmental problems in the Great Lakes ecosystem. Results from U.S. Geological Survey (USGS) scientific studies and monitoring are helping guide the restoration effort. The GLRI is made up of five focus areas that address these issues:
</p>

<ul class="circleList">
	<li> Cleaning up toxic substances and areas of concern </li>
	<li> Combating invasive species</li>
	<li> Promoting nearshore health by protecting watersheds from polluted run-off</li>
	<li> Restoring and protecting habitats and wildlife</li>
	<li> Tracking progress and working strategically with partners</li>
</ul>
<br>
More information about the GLRI 
<a class="focusPdf" href="{{transient.focusAreas[transient.currentFA].infosheet}}" target="_blank">
 {{transient.focusAreas[transient.currentFA].name}} (pdf)</a>

<br>

<h1 class="focusAreaTitle">{{transient.focusAreas[transient.currentFA].name}} Projects</h1>
<p class="focusAreaTitle">Click on a project for more details</p>

<ul id="contentRecords" class="browse-results">

	<li ng-repeat="project in transient.focusAreas[transient.currentFA].items"
		ng-click="loadProjectDetail(project.item)">
		<h3 ng-bind="project.title"></h3>
		<p> Template<span ng-if="project.templates.length && project.templates.length>1">s</span>: 
			<span ng-repeat="template in project.templates">{{template}} </span>
			<span ng-if="!project.templates.length || project.templates.length==0">none</span>
		</p>		
		<p ng-bind="project.contacts"></p>		
	</li>
	
</ul>
</div>
