<div>
	<h1 class="focusAreaTitle">Project Publications</h1>
	<p  class="focusAreaTitle">Click on an entry for more details</p>


	<ul id="contentRecords" class="browse-results">
	
		<li ng-repeat="publication in publications | orderBy:'dateCreated':true">
			
			<a href="{{publication.url}}" target="_blank">
			
				<h3 ng-bind-html="publication.citation" ng-if="publication.citation"  style="font-size: 14px;"></h3>
				<h3 ng-bind-html="publication.title"    ng-if=" ! publication.citation" style="font-size: 14px;"></h3>
				
				<p ng-bind-html="publication.summary" style="font-weight:normal;margin-top:5px;"></p>
			</a>
			
		</li>
		
	</ul>

</div>
