<div ng-if="contentShow('AsianCarp')">

<div id="contentAsianCarp" class="border" >


<div style="height:auto;width:780px;padding:10px;">
<div style="padding-top:10px;margin-top:2px;">
</div>
<div>
	<img src="../style/image/darkblue/official_logo_glri.svg" style="margin-left: 10px; margin-right: 10px; padding-bottom:10px;width:200px; height:80px;float:left">
	<div class="largetitle">Asian Carp Science</div>
</div>

<div style="border-bottom:solid #ECECEC 1px;" class="onbottom"></div>

<br>

<br><br>


<div class="strong2" style="text-decoration:underline;">Asian Carp Control Technologies</div><br>

<p><a href="1-responsible-application-piscicides-1.html">Ensuring environmentally responsible application of piscicides (fish poisons) in rivers by using real-time dye tracking</a>
</p>

<p><a href="3-asian-carp-chemical-attractants-3.html">Field Evaluation of chemical attractants to control Asian carp and development of protocols for field verification of response</a>
</p>

<p><a href="6-integrated-pest-management-carp-control-6.html">Evaluation of an Integrated Pest Management approach to bighead and silver carp control</a>
</p>

<p><a href="7-asian-carp-life-history-vulnerabilities-7.html">Assessing life history traits of Asian carp in established and emerging populations to identify and characterize vulnerabilities that can be exploited for control</a>
</p>

<p><a href="9-seismic-water-guns-asian-carp-control-9.html">Using seismic water guns for Asian Carp control efforts</a>
</p>

<p><a href="11-asian-carp-toxicant-screening-11.html">Asian Carp toxicant screening program</a>
</p>

<p><a href="12-CAWS-monitoring-network-12.html">Chicago Area Waterways System Monitoring Network Evaluation</a>
</p>

<p><a href="13-communicating-new-technologies-controlling-asian-carp-13.html">Communication and Demonstration for new technologies for the Control and Monitoring of Asian carp</a>
</p>


<div style="border-bottom:solid #ECECEC 1px;"></div><br>

<div class="strong2" style="text-decoration:underline;">Asian Carp Risk Assessment and Detection</div><br>

<p><a href="14-developmental-rate-embryos-and-larvae-bighead-and-silver-carps-14.html">Developmental rate of embryos and larvae of bighead and silver carps</a>
</p>

<p><a href="15-water-hardness-hatching-success-asian-carp-eggs-15.html">Water hardness effects on hatching success of Asian carp eggs</a>
</p>

<p><a href="16-behavior-of-asian-carp-larvae-16.html">Behavior of Asian carp larvae</a>
</p>

<p><a href="2-prevent-interbasin-transfer-asian-carp-2.html">USGS Hydrologic Support to Prevent Interbasin Transfer of Asian Carp at an intermittent connection of the Wabash and Lake Erie basins at Eagle Marsh, Indiana</a>
</p>

<p><a href="4-asian-carp-movement-spawning-recruitment-4.html">Assessment of Illinois River and other rivers for hydraulic and water-quality influences on Asian carps movement, spawning and recruitment</a>
</p>

<p><a href="5-interbasin-movement-groundwater-pathway-5.html">Potential for Interbasin Invasive-Species Movement by way of the Groundwater Pathway near Lemont, Illinois</a>
</p>

<p><a href="8-tributary-habitat-suitability-8.html">Great Lakes Tributary Assessment for Asian carp Habitat Suitability and Development of a Tributary Assessment Tool</a>
</p>

<p><a href="10-improving-asian-carp-eDNA-techniques-10.html">Improving molecular techniques for monitoring Asian carps: Characterizing eDNA associated with spawning, eDNA persistence, and validation of new marker technology</a>
</p>

<p><a href="19-Status-Grass-Carp-Sandusky-River-19.html">Investigating the Status of Grass Carp in the Sandusky River
</a>
</p>

<div style="border-bottom:solid #ECECEC 1px;"></div><br>


<div class="strong2">Contacts</div><br>

<p style="margin-left:15px;">
Sandra Morrison, smorrison@usgs.gov<br>
Great Lakes Science Center (GLSC)<br>
734-214-9393
</p>

<p style="margin-left:15px;">
Cindy Kolar, ckolar@usgs.gov<br>
703-648-4023
</p>


													</div>
													</div>