<div class="padding" ng-if="navShow('Home')">

	<div class="navHomeEntry">
		<img alt="Asian Carp Science" src="../images/asian_carp_studies_badge.png">
		<strong>Asian Carp Science.</strong><br>
		<div class="descr">The USGS is conducting several sub-projects as part of the GLRI.</div>
		<a href="#" ng-click="navAdd('AsianCarp')">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img  alt="Beach Health Webinar - 2014" src="../images/beach_webinar_badge.jpg">
		<strong>Beach Health Webinar - Feb. 2014</strong><br>
		<div class="descr">Providing the beach-going public with the best water-quality information available.</div>
		<a href="http://cida.usgs.gov/glri/videos/GLRI Webinar_Feb11.2014_edited.wmv">WATCH VIDEO</a>
	</div>																
	<div class="navHomeEntry">
		<img alt="Controlling Dreissenid Mussels with Pseudomonas fluorescens CL145A" src="../images/zm_control_badge.jpg">
		<strong>NEW Invasive Species Project</strong><br>
		<div class="descr">Controlling Dreissenid Mussels with Pseudomonas fluorescens CL145A.</div>
		<a href="#" ng-click="navAdd('Invasive')">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img alt="Ohio GLRI Projects List" src="../images/projects_list_badge.png">
		<strong>Projects List</strong><br>
		<div class="descr">What is the USGS working on?</div>
		<a href="projects.html">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img alt="Loon Tracking" src="../images/loon_tracking_badge.png">
		<strong>Loon Migration Studies</strong><br>
		<div class="descr">Track the movements and migrations of loons.</div>
		<a href="http://www.umesc.usgs.gov/terrestrial/migratory_birds/loons/migrations.html">TRY IT</a>
	</div>	
														
</div>