<div class="padding">

	<div class="h_text">
		<img class="icon" alt="" src="../style/image/darkblue/note_worthy.svg"><br>
	</div>
		<p class="serif font-large"><span>Of Note</span></p>
	<br>
  <div class="navGroup">
	<div class="navHomeEntry">
		<img alt="SiGL Mapper" src="../images/sigl_mapper_thumb.png" class="">
		<strong>SiGL Mapper</strong><br>
		<div class="descr">NEW SiGL Mapper! Learn where science is being conducted in the Great Lakes.</div>
		<a href="http://wim.usgs.gov/SiGL/" target="_blank">TRY IT</a>
	</div>
	<div class="navHomeEntry">
		<img alt="Asian Carp Science" src="../images/asian_carp_studies_badge.png" class="">
		<strong>Asian Carp Science</strong><br>
		<div class="descr">The USGS is conducting several sub-projects as part of the GLRI.</div>
		<a href="javascript:void(0)" ng-click="ofNoteClick('AsianCarp')">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img  alt="Beach Health Webinar - 2014" src="../images/beach_webinar_badge.jpg" class="">
		<strong>Beach Health Webinar - Feb. 2014</strong><br>
		<div class="descr">Providing the beach-going public with the best water-quality information available.</div>
		<a href="javascript:void(0)"  ng-click="ofNoteClick('BeachHealth')">WATCH VIDEO</a>
	</div>																
	<div class="navHomeEntry">
		<img alt="Controlling Dreissenid Mussels with Pseudomonas fluorescens CL145A" src="../images/zm_control_badge.jpg" class="">
		<strong>NEW Invasive Species Project</strong><br>
		<div class="descr">Controlling Dreissenid Mussels with Pseudomonas fluorescens CL145A.</div>
		<a href="javascript:void(0)" ng-click="ofNoteClick('Invasive')">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img alt="GLRI Publications" src="../images/projects_list_badge.png" class="">
		<strong>Publication List</strong><br>
		<div class="descr">What is the USGS working on?</div>
		<a href="javascript:void(0)"  ng-click="ofNoteClick('Publications')">LEARN MORE</a>
	</div>
	<div class="navHomeEntry">
		<img alt="Loon Tracking" src="../images/loon_tracking_badge.png" class="">
		<strong>Loon Migration Studies</strong><br>
		<div class="descr">Track the movements and migrations of loons.</div>
		<a href="http://www.umesc.usgs.gov/terrestrial/migratory_birds/loons/migrations.html" target="_blank">TRY IT</a>
	</div>
  </div>
											
</div>