/* *****************************************************************************
 * Project:		glri-catalog
 * Source:		theme1.css
 * Author:		Philip Russo
 * ===========================================
 */

html {
    min-width:			440px;
}

body {
	margin:				0;
	padding:			0;
}

#site_header {
	padding:			0px;
}

#site_nav {
	margin-bottom:		1px;
	background-color: 	#345280;
	padding-top: 		5px;
	padding-bottom:	3px;
}

#site_content {
	margin-left:		auto;
	margin-right: 		auto;
	
	padding-top: 		15px;	
	padding-bottom: 	15px;
	
	background-color:					#345280;
	-moz-border-radius-topleft:			1px;
	-moz-border-radius-topright:		1px;
	-moz-border-radius-bottomleft:		8px;
	-moz-border-radius-bottomright:		8px;
	border-top-left-radius:				1px;
	border-top-right-radius:			1px;
	border-bottom-left-radius:			8px;
	border-bottom-right-radius:			8px;
}

#site_footer {
}

#copyright {
	font-family: 	ff-meta-web-pro,sans-serif;
	font-size:		11px;
	text-align:		right;
	color:			#ddd;
}

#page_content {
	padding-top:		15px;
}

.site_title {
	color:			#ddd;
	text-decoration: 	none;
}

.site_title a {
	color:			#ddd;
	text-decoration: 	none;
}

.site_title a:hover {
	color:			#fff;
	background-color: 	#345280;
}

.site_version {
	color:			#fff;
	font-size: 		10px;
	line-height: 	22px;
	float:			right;
}

.site_well {
	
}

.site_body_content {
	padding-bottom: 	10px;
}

.page_body_content {
    padding-bottom: 10px;
}










